.App {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  text-align: center;
  color: white;
}

p {
  margin: 0;
}

.container {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.header-container {
  padding-top: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 20px;
  color: white;
  margin-top: 3rem;
}

.left {
  text-align: left;
  margin-left: 10%;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.right {
  display: flex;
  background: black;
  border-radius: 16px;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10%;
  margin-top: 10px;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  padding-bottom: 30px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #15c455 0%,
    #0fba0f 10%,
    #14af1e 21%,
    #14a43b 52%,
    #33a211 78%,
    #37c20d 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #22bc22, #035f17);
  font-size: 18px;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 0px 3rem;
}

.switch-to-mm {
  font-size: 20px;
  font-weight: 800;
}

.mint-button:disabled {
  background: #550072;
  color: rgb(209, 209, 209);
  cursor: not-allowed;
}

.mint-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button {
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
  top: 20px;
  border: 0px;
  font-size: 12px;
  background-color: transparent;
}

.edit-icon {
  width: 12px;
}

.form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

input {
  border: 0;
  border-radius: 12px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-size: 26px;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
}

input::placeholder {
  color: gray;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.first-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tld {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  /* left: -70px; */
  right: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.mint-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mint-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 15px;
  font-size: 18px;
  background-color: #b7fab9;
  color: black;
  min-width: 150px;
  max-width: fit-content;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2);
}

/* Different background-colour for every nth mint-item */
.mint-item:nth-child(2n) {
  background-color: yellowgreen;
}

.mint-item:nth-child(3n) {
  background-color: lightyellow;
}

.mint-item:nth-child(5n) {
  background-color: lightgreen;
}

.link {
  color: black;
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover {
  cursor: pointer;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}
.rishav-container,
.buildspace-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text,
.buildspace-foo {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* Media Querries */
@media screen and (max-width: 580px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
  }
  .right {
    border-radius: 16px;
    font-size: 12px;
    align-items: center;
    margin-right: 0;
    margin-top: 2.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 880px) {
  .header {
    row-gap: 3rem;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .subtitle {
    font-size: 12px;
    color: white;
  }
  .right {
    border-radius: 16px;
    font-size: 12px;
    align-items: center;
  }
  .logo {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: 2px;
  }
  input {
    border: 0;
    border-radius: 12px;
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: white;
    /* letter-spacing: 1px; */
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
    padding: 6px 15px;
    text-align: center;
  }
  .tld {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .mint-button {
    background: -webkit-linear-gradient(left, #22bc22, #035f17);
    font-size: 14px;
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    margin: 40px 10px;
    border-radius: 20px;
    padding: 0px 2rem;
  }

  .mint-list {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .mint-item {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 15px;
    font-size: 12px;
  }

  .footer-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  .twitter-logo {
    width: 28px;
    height: 28px;
  }
}
